[user]
	name = Shaun Alexander
	email = shaun@sierraalpha.co.nz
[core]
	editor = vim
	excludesfile = /home/shaun/.gitignore_global
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git://"]
	insteadOf = https://
